@model List<Fiap.Exemplo02.MVC.Web.Models.Aluno>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@Helper.Message(TempData["msg"], "alert alert-success")

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Bolsa</th>
            <th>Desconto</th>
            <th></th>
         </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model)
            {
            <tr>
                <td>@aluno.Nome</td>
                <td>@aluno.DataNascimento.Year</td>
                <td>@aluno.Bolsa</td>
                <td>@aluno.Desconto</td>
                <td>
                    @Html.ActionLink("Editar","Editar", new { id = @aluno.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>